.related-to-pill, .recipient-pill {
    padding: var(--lwc-spacingXxxSmall, 0.125rem);
}

.recipient-pill-container {
    flex-wrap: wrap;
}

.slds-form-element.has-warning .slds-form-element__help {
    color: rgb(140, 75, 2);
}
